xterm*background: Black
xterm*foreground: grey
xterm*faceName: Source Code Pro for Powerline
xterm*faceSize: 12
xterm*loginShell: true
xterm*vt100*geometry: 80x35
xterm*saveLines: 2000
xterm*termName: xterm-256color
xterm*eightBitInput: false
xterm*utf8: true

